.masthead {
  background-color: var(--color-primary);
  padding-bottom: 8rem;
  margin-bottom: 2rem;
  position: relative;
  color: var(--color-white);

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='135.212' viewBox='0 0 1920 135.212'%3E%3Cpath id='Path_2' data-name='Path 2' d='M0,1070V979.431s287.752,78.186,927.752,0S1920,949.536,1920,949.536V1070Z' transform='translate(0 -934.788)' fill='%23fff'/%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .left-column {
    position: relative;

    .img-device {
      height: 30rem;
      object-fit: contain;
    }
  }

  .right-column {
    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      max-width: 70%;
      margin: 0 auto;
    }
  }

  @media (max-width: 640px) {
    .content-container {
      flex-direction: column;
    }

    .left-column .hero-img {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .search-form  {
    .search-button {
      color: white;
      border-color: white;

      &:hover {
        color: white;
        background-color: rgba(white, 0.5);
      }
    }
  }
}


.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  p {
    max-width: 36rem;
    text-align: center;
    margin: 1rem 0;
  }
}

.counter-stats {
  .stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;

    .fa {
      color: var(--color-primary);
      font-size: 60px;
    }
  }
}



