
.header {
  background-color: var(--color-primary);
  width: 100%;
  background-color: #fff;

  .logo {
    img {
      $size: 50px;
      width: $size;
      height: $size;
    }

    .text {
      font-weight: bold;
    }
  }
}
