@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100%;
	font-family: Inter, sans-serif;
	font-weight: 400;
}

h1 {
	margin: 0;
	line-height: 1.4;
	font-size: 32px;
}

h2 {
	margin: 0;
	line-height: 1.25;
	font-size: 28px;
}

p {
	margin: 0;
	line-height: 1.5;
}

a {
  text-decoration: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 5px;
}
