.search-page {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  padding: 2rem;

  .left {
    flex: 6;
  }
  .right {
    flex: 4;
  }

  .form-wrapper {
    max-width: 50%;
    margin-bottom: 40px;

    .search-page-form {
      width: 300px;
      input {
        border-color: var(--color-primary);

        &:focus {
          outline: none;
        }
      }

      .search-button {
        color: var(--color-primary);
        border-color: var(--color-primary);

        &:hover {
          color: white;
          background-color: rgba(#077bad, 0.8);
        }
      }
    }
  }

  .mention-card {
    min-width: 430px;
    color: var(--color-primary);
    border-color: var(--color-primary);

    .card-text {
      font-size: 14px;
    }
  }

  .rhymes {
    display: flex;
    flex-wrap: wrap;

    .rhyme-element {
      $margin: 10px;
      margin-right: $margin;
      margin-bottom: $margin;

      align-self: flex-end;

      color: var(--color-primary);
      border-color: var(--color-primary);

      &:focus {
        box-shadow: none;
      }

      &:hover {
        color: white;
        background-color: rgba(#077bad, 0.8);
      }
    }
  }
}
