.search-page {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;

  padding: 2rem;

  .left {
    flex: 6;
  }
  .right {
    flex: 4;
  }

  .form-wrapper {
    max-width: 50%;
    margin-bottom: 40px;

    .search-page-form {
      width: 300px;


    }
  }

  .mention-card {
    color: var(--color-primary);
    border-color: var(--color-primary);

    cursor: pointer;
    transition:
      transform 0.2s,
      box-shadow 0.2s;

    .card-text {
      font-size: 14px;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .rhymes {
    display: flex;
    flex-wrap: wrap;

    .rhyme-element {
      $margin: 10px;
      margin-right: $margin;
      margin-bottom: $margin;

      align-self: flex-end;

      color: var(--color-primary);
      border-color: var(--color-primary);

      &::first-letter {
        text-transform: capitalize;
      }

      &:focus {
        box-shadow: none;
      }

      &:hover {
        color: white;
        background-color: rgba(#077bad, 0.8);
      }

      &.secondary {
        color: orangered;
        border-color: orangered;

        &:hover {
          color: white;
          background-color: rgba(orangered, 0.8);
        }
      }
    }
  }
}
