.search-page {
  padding-top: 30px;


  .form-wrapper {
    max-width: 50%;
    margin-bottom: 40px;

    .search-page-form {
      input {
        border-color: var(--color-primary);

        &:focus {
          outline: none;
        }
      }

      .search-button {
        color: var(--color-primary);
        border-color: var(--color-primary);

        &:hover {
          color: white;
          background-color: rgba(#077bad, 0.8);
        }
      }
    }
  }


  .mention-card {
    // max-width: 18rem;
    margin-right: 3rem;
    margin-bottom: 3rem;

    align-self: flex-end;

    color: var(--color-primary);
    border-color: var(--color-primary);

  }


  .rhymes {
    display: flex;
    flex-wrap: wrap;

    .rhyme-element {
      $margin: 10px;
      margin-right: $margin;
      margin-bottom: $margin;

      align-self: flex-end;

      color: var(--color-primary);
      border-color: var(--color-primary);


      &:focus {
        box-shadow: none;
      }

      &:hover {
        color: white;
        background-color: rgba(#077bad, 0.8);
      }
    }
  }

}
